<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@700&amp;family=Darker+Grotesque:wght@500&amp;display=swap" rel="stylesheet">
{% extends 'base.html' %}
{% block content %}
{% load static %}
    <title>About "시윤"</title>
<body>
    <header>
        <h1>About Me</h1>
    </header>
    
    <br>
<div class="mypic">
    <img src="{%static 'images/0.JPG' %}" height="400">
    </div> <br>
    
<article class="article" id="introduce">
    <br>
        <strong>FULL-NAME:</strong> 김시윤<br><br>
        <strong>B-DAY:</strong> 2001.06.07<br><br>
        <strong>HOMETOWN:</strong> 부산<br><br>
        <strong>MAJOR:</strong>경영학과<br><br>
        <strong>HOBBY:</strong>운동<br><br>
        <strong>INSTAGRAM:</strong>
        <a href="https://www.instagram.com/k_siy2on/" target="_blank">
            <img src="{%static 'images/instagramlogo.png'%}" height="50" width="50"></a>
        <h6>(위의 이미지를 누르면 인스타그램 링크로 연결됩니다.)</h6>
            </article>
    <br><br><br><br><br><br><br><br><br><br>

    <div id="main">
        <div class="container">
            <h3 id="sportslover"># SPORTSLOVER</h3>
            <h3 id="travelover"># TRAVELOVER</h3>
            <h3 id="musiclover"># MUSICLOVER</h3>
        </div>
        <div class="image">
            <img src="{%static 'images/sportslover.JPG'%}" height="300" width="250">
            <img src="{%static 'images/travelover.jpg'%}" height="300" width="250">
            <img src="{%static 'images/musiclover.jpg'%}" height="300" width="250">
        </div>

        <div class="article">
            <article>축구,육상,서핑 가리지 않고 <br>모든 스포츠를
                좋아한다.</article>
            <p>한없이 여유로운 시간을 <br>즐길 수 있는 여행이 좋다. <br>
             그런 여유로움을 즐기는 편</p>
            <p>말해뭐해? <br> Music is my life 
            </p>
        </div>
    </div>

<footer>
    <div>
        <h2 class="buckettitle">My Bucket List</h2>
    <ul class="bucketlist">
        <li>세계일주</li>
        <li>저스틴비버 콘서트 가기</li>
        <li>내 전공 분야에서 한 획 긋기</li>
        <li>EPL 직관가기</li>
        <li>5개국어 마스터하기</li>
        <li>교환학생 가기</li>
    </ul>
    </div>
</footer>
</body>
<h2>Post</h2>
<div>
    <a href="{%url 'new'%}">write post</a>
<style>
    body{text-align:center; background-color:aliceblue;}
</style>
<br>
<div>  
    {% for post in posts %}
    <div>
        <h3>{{post.title}}</h3>
        {{post.writer}}<br>
        {{post.summary}}
        <a href="{%url 'detail' post.id %}">...more</a>
        <br>
    </div>
    {%endfor%}
</div>

{% endblock %}