{% extends 'base.html'%}
{% load static %}

{% block content %}
{%if user.is_authenticated%}
    <h1 class="nav-link"> 글 목록 </h1> <br>
<div>  
    {% for post in posts %}
    <div>
        <h4><strong>{{post.title}}</h4></strong>
        {% if post.writer %}
            {% comment %} {% if 'user' in post.writer.username and post.writer.username != 'user' %}
                작성자 : <a href="{% url 'users:mypage' post.writer.id %}">{{ post.writer.last_name }} {{ post.writer.first_name }}</a>
            {% else %} {% endcomment %}
                작성자 : <a href="{% url 'users:mypage' post.writer.id %}">{{ post.writer }}</a>
            {% comment %} {% endif %}
        {% else %}
            작성자 : 알 수 없음 {% endcomment %}
        {% endif %}
            {{post.summary}}
        <a href="{%url 'main:detail' post.id %}">...more</a>
        <br>
        <hr>
    </div>
    {%endfor%}
</div>

{%else%}
    <h3>로그인 후 이용가능</h3>
    <a href="{% url 'account_login'%}" class="btn btn-warning">로그인</a>
    <a href="{% url 'account_signup'%}" class="btn btn-warning">회원가입</a>
{%endif%}
{% endblock %}