{% extends 'base.html'%}
{% block content %}
{% load staticfiles %}
    <style>
        .Teenager{
            background-color:aliceblue;
        }
    </style>
</head>
<body>
<h1 class="Teenager">Teens</h1>
<br>
<img src="{%static 'images/teenager1.png'%}" height="400"; width="300">
<img src="{%static 'images/teenager2.jpg'%}" height="400"; width="300">
<br>
<!--img src="teenager3.jpg" height="400"; width="600"-->
<img src="{%static 'images/teenager3.jpg'%}" height="400"; width="600">
</body>
{% endblock %}